@* AddNewProductAttributeVC *@

@model AttributeGroupProductAttributeViewModel

<div class="form-group px-5">
    <h4><i>Add new product attribute</i></h4>
</div>
<br />
<form asp-controller="ProductAttribute" asp-action="AddProductAttribute" class="form-horizontal" id="addNewProductAttrForm">
    <div class="row">
        <div class="form-group col">
            <label for="Name" class="control-label px-5"><strong>Name:</strong></label>
            <div class="px-5">
                <input name="Name" id="nameInputValue" class="form-control" required />
            </div>
        </div>
        <div class="form-group col" title="TIPS: If you do not see your desired Attribute Group here, first add a new Attribute Group by surfing into the 'Attribute Group' side menu.">
            <label for="AttributeGroupId" class="control-label px-5"><strong>Attribute Group:</strong></label>
            <div class="px-5">
                <select name="AttributeGroupId" id="attrGroupSelectValue" class="form-control" required>
                    <option value="" selected disabled>Choose...</option>
                    @foreach (var attrGroup in Model.AttributeGroup)
                    {
                        <option value="@attrGroup.Id">@attrGroup.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Description" class="control-label px-5"><strong>Description:</strong></label>
        <div class="px-5">
            <textarea name="Description" class="form-control" form="addNewProductAttrForm" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label for="Type" class="control-label px-5"><strong>Type:</strong></label>
            <div class="px-5">
                <select name="Type" id="typeSelectValue" class="form-control" required>
                    <option value="" selected disabled>Choose...</option>
                    <option value="int">Number</option>
                    <option value="string">Text</option>
                    <option value="bool">Yes/No or True/False</option>
                    <option value="byte">Bytes</option>
                    <option title="You can later fill this list with custom values." value="predefined list">Predefined list</option>
                </select>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br />
    <div class="row" id="predefinedListOptionInputDiv" style="display:none;">
        <div class="form-group col">
            <label class="control-label px-5"><small><i><b>Predefined list name:</b></i></small></label>
            <div class="form-inline px-5">
                <input  id="addNameInput" class="form-control form-control-sm" />&nbsp;&nbsp;
                <button type="button" id="addNameBtn" class="btn btn-sm btn-outline-success">Add</button>
            </div>
            <label class="control-label px-5"><small><i><b>Add predefined list options:</b></i></small></label>
            <div class="form-inline px-5">
                <input id="addToListInput" class="form-control form-control-sm" />&nbsp;&nbsp;
                <button type="button" id="addToListBtn" class="btn btn-sm btn-outline-success">Add</button>
            </div>
        </div>
        <div id="usersAddedInputOptionDiv" class="form-group col">
            <div class="px-5">
                <!-- Added predefined list name -->
                <table for="PredefinedListName" id="addedNameTable" class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th><i><small><b>Added name:</b></small></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <!-- Added predefined list options -->
                <table for="PredefinedListOptionNames" id="addedOptionsTable" class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th><i><small><b>Added options:</b></small></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="px-5">
            <button class="btn btn-sm btn-success" type="submit">Add @ViewBag.Title</button>
            <a class="btn btn-sm btn-secondary" id="cancelBtn">Cancel</a>
        </div>
    </div>
</form>
<br />
<br />
<br />
<br />