<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KingPim</title>
    <link href="~/images/nintendo_remote_favicon.png" rel="shortcut icon" />
    <link href="~/css/style.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="~/js/site.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#forgotPasswordModal').on('show.bs.modal', function () {
                $('form input').val('');
            });
        });
    </script>
</body>
</html>
