<nav class="main-menu shadow">
    <ul>
        <li>
            <a asp-controller="Account" asp-action="Index">
                <i class="fa fa-home"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a asp-controller="Category" asp-action="Index">
                <i class="fa fa-folder-open"></i>
                <span class="nav-text">
                    Categories
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a asp-controller="Subcategory" asp-action="Index">
                <i class="fa fa-folder-open"></i>
                <span class="nav-text">
                    Subcategories
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a asp-controller="Product" asp-action="Index">
                <i class="fa fa-list"></i>
                <span class="nav-text">
                    Products
                </span>
            </a>

        </li>
        <li>
            <a asp-controller="AttributeGroup" asp-action="Index">
                <i class="fa fa-table"></i>
                <span class="nav-text">
                    Attribute Groups
                </span>
            </a>
        </li>
        <li>
            <a asp-controller="ProductAttribute" asp-action="Index">
                <i class="fa fa-font"></i>
                <span class="nav-text">
                    Attributes
                </span>
            </a>
        </li>

        @if (User.IsInRole("Administrator"))
        {
            <li>
                <a asp-controller="Account" asp-action="Users">
                    <i class="fa fa-user"></i>
                    <span class="nav-text">
                        Users
                    </span>
                </a>
            </li>
        }

    </ul>

    <ul class="logout">
        <li>
            <a asp-controller="Home" asp-action="Logout">
                <i class="fa fa-power-off"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>




@*------------ORIGINAL SIDEBAR with FEATHER ICONS------------*@
@*<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed; height:100%;">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Index">
                    <span data-feather="layers"></span>
                    Category
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Subcategory" asp-action="Index">
                    <span data-feather="file"></span>
                    Subcategory
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    Products
                </a>
            </li>
        </ul>
    </div>
</nav>*@