@* AddNewCategoryVC *@

@model AddCategoryViewModel

<div class="form-group px-5">
    <h4><i>Add new category</i></h4>
</div>
<br />

<form asp-controller="Category" asp-action="AddCategory" class="form-horizontal" id="addNewCatForm">
    <div class="form-group">
        <label asp-for="Name" class="control-label px-5"><strong>Name:</strong></label>
        <div class="px-5">
            <input asp-for="Name" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <div class="px-5">
            <button class="btn btn-sm btn-success" type="submit">Add @ViewBag.Title</button>
            <a class="btn btn-sm btn-secondary" id="cancelBtn">Cancel</a>
        </div>
    </div>
</form>