@* Account Controller Index *@

@if (User.IsInRole("Administrator"))
{
    <h2>Welcome Admin!</h2>
}
@if (User.IsInRole("Publisher"))
{
    <h2>Welcome Publisher!</h2>
}
@if (User.IsInRole("Editor"))
{
    <h2>Welcome Editor!</h2>
}