@model AccountViewModel

<div class="row">

    <div class="col">
        <h3 class="px-4">Add User</h3>
        <br />
        <br />

        <form asp-controller="Account" asp-action="AddUser" method="post">

            <div class="form-group">
                <label asp-for="UserName" class="control-label px-4"><strong>Username:</strong></label>
                <div class="px-4">
                    <input asp-for="UserName" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label px-4"><strong>Password:</strong></label>
                <div class="px-4">
                    <input asp-for="Password" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label px-4"><strong>Confirm password:</strong></label>
                <div class="px-4">
                    <input asp-for="ConfirmPassword" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label px-4"><strong>Role:</strong></label>
                <div class="px-4">
                    <select asp-for="Role" class="form-control" required>
                        <option value="" selected disabled>Choose role...</option>
                        <option value="Administrator">Administrator</option>
                        <option value="Publisher">Publisher</option>
                        <option value="Editor">Editor</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="px-4" style="float:right;">
                    <button class="btn btn-sm btn-outline-success" type="submit">Add User</button>
                </div>
            </div>

        </form>

    </div>


    <div class="col">
        <h3 class="px-4">@ViewBag.Title</h3>
        <br />
        <br />
        <br />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><i>Username</i></th>
                    <th><i>Role</i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    @foreach (var role in Model.UserRoles)
                    {
                        <tr>
                            <td><small><i>@user</i></small></td>
                            <td><small><i>@role</i></small></td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

</div>