@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container mx-auto" style="width: 330px; margin-top: 50px">
    <form asp-controller="Home" asp-action="Login" method="post" style="max-width: 330px;">
        <h2 class="form-login-heading" style="text-align: center; margin: 10px">Please sign in</h2>

        <label asp-for="UserName" class="sr-only">Email address</label>
        <input asp-for="UserName" id="inputUserName" class="form-control" placeholder="Email address" required autofocus style="margin:10px" />
        <div><span asp-validation-for="UserName" class="text-danger"></span></div>

        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" type="password" required style="margin:10px" />
        <div><span asp-validation-for="Password" class="text-danger"></span></div>

        <button class="btn btn-primary btn-block" type="submit" style="margin:10px">Sign in</button>
        <a asp-controller="" asp-action="" style="float:right;"><small>Forgot Password?</small></a>
    </form>
</div> 